*{
	padding: 0;
	margin: 0;
    box-sizing: border-box;  
}
body {
	font: 18px 'Raleway', sans-serif; 
}
h1{
    font-size:2.0em;
}
h2{
    font-size:1.3em;
}
section:first-child{
    padding: 2.6em 0 2.6em 0;
}
section{
    padding: 1.4em 0 2.6em 0;
}
/* HEADER */
header{
    height:60vh;
    background: 
    linear-gradient(to bottom right,
    rgb(0, 136, 255, 0.4), 
    rgb(220, 66, 37, 0.3)
    ),
    url("../img/izaac-hewitt-lawrence-1087976-unsplash.jpg")
	center/cover no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header h1{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    text-shadow: 1px 2px black;
    margin: 0.5em 0 0.5em 0;
}
header p{
    letter-spacing: 1px;
    line-height: 1.5em;
    margin: 0.6em 0;
}
.avatar{
    height: 140px;
    width: 140px;
    background: 
	url("../img/myavatar.png") center/cover no-repeat;
    border-radius: 50%;
}
.description-header{
    text-align: center;
    max-width: 700px;
}
.fab{
    font-size: 1.8em;
    width: 1.5em;
    height: 1.5em;
    margin: 10px;
    text-align: center;
    color:white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 7px;
}
.fab:hover{
    color:rgb(0, 136, 255);
}
/* KONIEC HEADER */


/* MAIN */
main{
    margin: 0 auto; max-width: 65%;
}
main section:not(:last-child){
    border-bottom: 1px solid grey;
}
main section h2{
	display: inline-block;
    color: #2f2f2f;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 1em 0 0.8em 0;
    padding: 0.2em;
	border: 1px solid #989898;
	margin: 1em 0;
}
/* KONIEC MAIN */
/* SKILLS */
.skills{
    display: flex;
    padding: 0.4em 0;
}
.skill{
    flex: 1;
    text-align: left;
}
.description-skill{
    flex: 3;
}
.skills h3{
    font-size: 1.3rem;
    letter-spacing: 0px;
    color:#2f2f2f;
	font-weight: 600;
}
.skills h3::before{
  content: "";
  background: #6998bf;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
/* KONIEC SKILLS */
/* CERTS */
.certs{
    display: flex;
    padding: 0.4em 0;
}
.cert{
    flex: 1;
    text-align: left;
}
.certs h3{
    font-size: 1.3rem;
    letter-spacing: 0px;
    color:#2f2f2f;
	font-weight: 600;
}
.certs h3::before{
  content: "";
  background: #ffa700;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
/* KONIEC CERTS */
/* EDUCATION */
.education{
    display: flex;
    padding: 1em 0;
}
.date{
    flex: 1;
}
.description-education{
    flex: 3;
}
.subtitle{
	font-weight: 600;
}
.education h3{
    font-size: 1.3rem;
    letter-spacing: 1px;
    color:#2f2f2f;
	font-weight: 300;
}
/* KONIEC EDUCATION */
/* FOOTER */
footer{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:4em 0;
    background: 
    linear-gradient(to bottom right,
    rgb(0, 136, 255, 0.4), 
    rgb(220, 66, 37, 0.3)
    ),
    url("../img/izaac-hewitt-lawrence-1087976-unsplash.jpg")
	center/cover no-repeat;
    color: white;
}
footer h2{
    color: white;
    letter-spacing: 2px;
    text-shadow: 1px 1px black;
    margin: 0.5em 0 0.5em 0;
    font-weight: 300;
}
/* KONIEC FOOTER */








